body {
  background-color: #E8E9F3;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.App {
  font-family: 'Nunito', sans-serif;
  color: #272635;
}

.SegmentLink {
  background-color: #272635;
  width: 154px;
  height: 50px;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  cursor: pointer;
}

.SegmentLink p, .SegmentLink a {
  color: #B1E5F2;
  text-decoration: none;
  margin: 0 auto;
}

.SegmentLink p:hover, .SegmentLink a:hover {
  color: white;
}

.LogoNav {
  width: 82px;
  height: 78px;
  margin: 0px 10px 0px 100px;
}

.Nav {
  display: flex;
  background-color: #272635;
}

.NavItem {
  color: #B1E5F2;
  font-size: 18px;
  line-height: 40px;
  margin-right: 15px;
  text-decoration: none;
}

.NavItem:hover {
  color: white;
}

.Symptoms {
  width: 80%;
  display: flex;
  margin: 50px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Symptom {
  width: 31%;
  height: 55px;
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  background-color: #CECECE;
  border: 1px solid #272635;
}

.Symptom:hover {
  cursor: pointer;
  background-color: #A6A6A8;
}

.Symptom span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.Symptom p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.Symptom span {
  padding-left: 10px;
  border-right: 1px solid #272635;
  padding-right: 10px;
  background-color: #272635;
}

.Ratings {
  display: flex;
  width: 75%;
  margin: 50px auto;
  justify-content: space-between;
}

.Circle {
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-sizing: border-box;
}

.Circle:hover {
  border: 3px solid #272635;
  font-weight: 600;
}

.ReportItems, .ReportHeaders {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
  display: flex;
  text-align: center;
}

.ReportHeaders p {
  font-size: 24px;
  margin-top: 30px;
}

.ReportItems p {
  width: 27%;
  height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ReportHeaders p {
  width: 27%;
  height: 60px;
  margin-top: 50px;
}

.ReportItems:hover {
  background-color: #CECECE;
}

.ReportHeaders p:nth-child(2), .ReportItems p:nth-child(2), .ReportHeaders p:nth-child(3), .ReportItems p:nth-child(3), .ReportHeaders p:nth-child(5), .ReportItems p:nth-child(5) {
  width: 15%;
}

.ReportItems p:nth-child(4), .ReportHeaders p:nth-child(4) {
  padding: 0px 10px;
}

/*.TrashCan {
  visibility: hidden;
  cursor: pointer;
  color: #272635;
}

.ReportItems:hover .TrashCan {
  visibility: visible;
}*/

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
