/*.LoginBox {
  background-color: #B1E5F2;
  width: 460px;
  height: 635px;
  margin: 100px auto;
  border-radius: 3px;
}*/

.LoginForm {
  width: 300px;
  height: 420px;
  margin: 0px auto 105px;
  padding-top: 13px;
}

.LoginInput {
  border: solid 1px #B1E5F2;
  box-shadow: 0 0 5px 1px #B1E5F2;
  height: 30px;
  width: 100%;
  border-radius: 2px;
}

.LoginText p {
  width: 115px;
  font-size: 14px;
  margin: 28px 0px 0px;
}
